body {
  background-color: #E6E6E7;
}
header{
  background:#2c3e50;
  color:#fff;
  height: 80px;
}
.menuizquierda {
  margin-left: -10px;
  background-image: url('../img/menu_izquierdo.png');  
  background-repeat: no-repeat;
  width: 200px;
  height: 760px;
}
/* Codigo para ocultar y mostrar el submenu */
.menuizquierda li ul
{ display:none}

.menuizquierda li:hover ul{
  display:block;
  cursor: pointer;
}

#ulizquierdo {
  position: absolute;
  margin-left: 10px;
  margin-top: 170px;
  

}
.opciones {
  position: relative;
  margin-bottom: 8px;
}
/*
.opciones:hover {
  transition-duration: 0.5s;
  opacity: 0.5;
}

*/
.row{
  margin-bottom: 0px !important;
}

.imgul
{ width: 170px;
  height: 35px;
  background-image: url("../img/opciones.png");
  background-size: 155px auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
  
}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 601px) and (max-width: 992px) {
  .bajar {
    position: relative; 
    margin-left: 2rem;
    margin-top: 15px;
  }
  .opcionesbtn
  {
    position: relative; 
    margin-left: 5rem;
  }
  
}

@media only screen and (min-width: 993px) {
  .bajar {
    position: relative; 
    margin-left: 2rem;
    margin-top: 200px;
  }

  .opcionesbtn
  {
    position: relative; 
    margin-left: 4rem;
  }
  
}

